* {
	/*Отступ от края элемента*/
	margin: 0;
	/*устонавливает внутренние отступы со всех сторон элемента*/
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html, body, header {
	height: 100%;
	scroll-behavior: smooth;
	/*background-color: #111111;*/
}

html {
	/*размер шрифта элемента*/
	font-size: 10px;
	/*устонавливает шрифт*/
	font-family: 'Open Sans' ;
}
.foto {
	width: 100%;
	height: 1061px;
	background-color: #111111;
}

.nav-container {
	
	background-color: #161618;
	/*высота*/
	height: 80px;
	/*устонавливает внутренние отступы со всех сторон элемента*/
	padding: 0 3%;
	display: flex;
	/*ширина*/
	width: 100%;
	-ms-align-items: center;
	/*элемент становится по центру*/
	align-items: center;
	/*определяет как браузер распределяет пространоство вокруг флекс-элементов вдоль главной оси контейнера*/
	justify-content: space-between;
	/*цвет фона*/
	z-index: 100;
}

.topnav {
	display: flex;
	/*ширина*/
	width: 75%;
	/*определяет как браузер распределяет пространоство вокруг флекс-элементов вдоль главной оси контейнера*/
	justify-content: flex-end;
	-ms-align-items: center;
	/*определяет как браузер распределяет пространоство вокруг флекс-элементов вдоль главной оси контейнера*/
	align-items: center;
	margin-right: 400px;
}

.nav-link {
	/*стили, декорации текста*/
	text-decoration: none;
	/*цвет текста*/
	color: black;
	/*определяет, как элемент должен быть показан в документе*/
	display: inline-block;
	/*размер шрифта элемента*/
	font-size: 2rem;
	/*устанавливает эфект перехода между двумя состояниями элемента*/
	transition: 0.8s;
	color: white;
}
.nav-link:focus {
	color: #D2B29B;
}

.nav-link:before {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background-color: #D2B29B;
	transform: scaleX(0);
	transition: all 0.2s;
	transform-origin: 100%;
}
.nav-link:after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background-color: #D2B29B;
	transform: scaleX(0);
	transition: all 0.2s;
	transform-origin: 0%;
}
.nav-link + .nav-link {
	/*отступ слева*/
	margin-left: 3%;
}
.logo {
	/*размер шрифта элемента*/
	font-size: 1.8rem;
	/*устанавливает насыщеность текста*/
	font-weight: bold;
	/*отступ слева*/
	margin-left: 50px;
	color: #FFFACD;
}
.photo {
	margin-left: 100px;
}

.nada {
	height: 800px;
	width: 533px;

	margin-right: 20px;
}

.kiril {
	height: 800px;
	width: 533px;
}

.kto {
	height: 800px;
	width: 533px;
	margin-left: 20px;
}
.vibor {
	color: #BF9D7B;
	font-size: 51px;
	margin-top: 70px;
	margin-left: 400px;
	font-family: "Raleway", Sans-serif;
}
.primer {
	color: #BF9D7B;
	font-size: 25px;
	margin-left: 700px;
}
.prim {
	width: 100%;
	height: 700px;
	background-color: #161618;
	display: block;
}
.women {
	width: 544px;
	height: 515px;
	border: double silver 3px;
	margin-left: 410px;
	position: absolute;
	margin-top: 100px;
	background-image: url(../dasha.jpg);
	background-position: -300px -880px;
	background-repeat: no-repeat;
	background-size: 110rem;
	transition: 0.6s;
}
.women:hover {
	background-position: -150px -600px;
	background-size: 80rem;
	transition: 0.6s;
}
.man {
	width: 544px;
	height: 515px;
	border: double silver 3px;
	margin-left: 990px;
	position: absolute;
	margin-top: 100px;
	background-image: url(../ila.jpg);
	background-position: -10px -350px;
	background-repeat: no-repeat;
	background-size: 80rem;
	transition: 0.6s;
}
.man:hover {
	background-position: 0px -250px;
	background-size: 60rem;
	transition: 0.6s;
}
.cen {
	color: white;
	font-family: "Raleway", Sans-serif;
	font-size: 12px;
	margin-top: 150px;
	margin-left: 100px;
}
.fot {
	width: 384px;
	height: 88px;
	font-size: 48px;
	margin-left: 100px;
	color: white;
	font-family: "Raleway", Sans-serif;
	font-weight: 800;
    line-height: 1em;
    letter-spacing: 0.5px;
}
.posm {
	width: 172px;
	height: 38px;
	font-size: 1.5rem;
	margin-left: 100px;
	margin-top: 30px;
	background-color: #D2A965;
	transition: 0.2s;
	text-decoration: none;
}
